body{
    font-family: 'roboto';
}

h1{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: #444;
}

p{
    font-size: 15px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
    color: #666;
}

button{
    padding-bottom: 40px;
}

.navbar-left>li{
    padding-right: 25px;
}

.navbar-right>li{
    padding-right: 5px;
}

.navbar-fixed-top {
  margin-top:60px;
}

.navbar-brand {
  left:calc(50% - 45px);
  position: absolute;
  padding:0;
  top:-30px;
z-index: -2;
}
  
div.relative{
    position: relative;
}
.header-content {
    padding-top: 180px;
    padding-bottom: 30px;
}

.icon-image {
    display: block;
    margin: auto;
    width: 75%;
}

.header-button {
    text-align: center;
}



.navbar-fixed-top { 
    position: absolute!important; 
}



.img-fluid {
    width: 100%;
    height: auto;
}

.product-img {
    border: 1px solid #375282;
    box-shadow: 0px 0px 8px 0px #7e7e7e;
}

.products-backround {
    background: radial-gradient(ellipse closest-side, #fdfdfd 103px, #dcdbda);
    background-position: center; 
}

.product {
    padding-right: 50px;
}

.padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-backround {
    background-color: #222222;
}

.header {
    background: radial-gradient(ellipse closest-side, #fdfdfd 103px, #dcdbda);
    background-position: center; 
}

.white{
    color: white;
}

.navbar-default{
    background-color: transparent;
    border-color: transparent;
}



.menu-items {
    font-weight: 500;
    font-size: 16px;
    text-shadow: 2px 1px 17px rgba(0, 0, 0, 0.28);        
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

a.learn-more {
    padding-bottom: 40px;
    line-height: 45px;
    color: #43649f;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #43649f;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms linear 0s;
    padding: 0 20px;
}

.about-content {
    padding-top: 50px;
}

.padding-about {
    padding-top: 100px;
    padding-bottom: 70px;
}

.tagline {
    font-weight: 300;
    color: #666;
}

.email-form {
    border: 2px solid #43649f;
    padding-right: 122px;
    line-height: 59px;
    height: 43px;
    margin-right: -5px;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
}

.email-button {
    color: #fff;
    background: #43649f;
    border: 1px solid #43649f;
    top: 0;
    right: 0;
    padding: 10px 32px;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 11px;
    padding-bottom: 9px;
}

::placeholder { /* Most modern browsers support this now. */
   color: white;
    padding-left: 20px;
}

.email-form-group {
    padding-top: 40px;
    text-align: center;
}

.padding-footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

.product-group {
    padding-top: 60px;
    text-align: center;
}

.padding-products {
    padding-top: 60px;
    padding-bottom: 70px;
}

.social-img {
    padding-right: 10px;
}

.social-group {
    padding-top: 20px;
}

.social-img-group {
    text-align: center;
    padding-top: 30px;
}

.footer-menu {
    list-style-type: none;
    padding-left: 200px;
    padding-top: 20px;
}

.footer-menu > li {
    padding-top: 15px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

.center-img {
    display: block;
    margin: auto;
}

.featured-products {
    padding-top: 60px;
    padding-bottom: 20px;
}

.header-text {
    padding-top: 100px;
    }


@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    
    .navbar-collapse{
    background-color: white
    }
    
    .navbar-header {
        float:none;
    }
    
    .header-text {
    padding-top: 40px;
    }
}

@media (max-width: 768px) {
    .icon-image{
        width: 45%;
    }
    .header-text{
        padding-top: 20px;
    }
    .steps-img{
        padding: 40px;
    }
    .product-img{
        padding-right: 0px;
        width: 60%;
    }
    
    .product{
        padding-top: 20px;
    }
    .navbar-collapse{
    background-color: white;
        text-align: center;
    }
    
}

 @media (max-width : 992px) {
     .email-form{
         padding-right: 0px;
     }
     .footer-menu{
         padding-left: 120px;
     }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active {
    background-color: transparent;
    color: black;
}

.back-button {
    margin-bottom: 35px;
}

.product-title {
    padding-top: 70px;
}

.left-align{
    text-align: left;
}

.explain-text {
    padding-top: 10px;
    padding-bottom: 30px;
}

.product-page-image {
    width: 85%;
    display: block;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


a.ask-button {
     padding-bottom: 40px;
    line-height: 45px;
    color: #43649f;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #43649f;
    background: transparent;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 300ms linear 0s;
    padding: 0 135px;
}



.explain-title {
    text-decoration: underline;
}


